
<% provide(:title, 'Sign up') %>
<div class="container">
	<div class="page_header">
		<h1> Welcome to uthinks</h1>
	</div>

<%= form_for(@email) do |f| %>

    <%= f.label :email %><br />
    <%= f.text_field :email %>
	
    <%= f.submit "Sign up" %>
</div>
<% end %>